.navbtn{
    margin-top: 5px;
}    

.navbar-light .navbar-toggler {
    color: rgb(111,175,255) !important;
    border-color: rgb(111,175,255) !important;

}
    

#whatdrop, #serviceItem, #eventItem, #lessonItem, #whodrop, #aboutItem, #teamItem, #supportItem, #contactItem{
    color:black;
}

.navdrop:hover .navmenu {
    display: block;
}
