u{
    text-decoration: none;
    border-bottom: 10px solid #C1DBFE;

}

.landingpage .title, .landingpage .subtitle {
    padding-top: 12.5%;
    background-color: black;
    color: #fff; 
    padding: 0.2rem;
    
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.bg {
    background-image: url("./img/landingimg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whatpage {
   

}

.whatContainer{
    display:flex;
    flex-direction: row;
}


.assistContainer{
    display:flex;
    flex-direction: row-reverse;
}


.icon {
    width: 9.3%;
    height: 9.3%;
}

.eventslanding {
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.eventCard{
    text-align: center;
}

.wholand {
    height: 50vh;
   
}

.emaillist {
    height: 20vh;
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.getinvolved h1{
    padding-left: 13%;
}

.getinvolved h2{
    color: red;
    padding-left: 13%;
    padding-top: 25px;
}

.getinvolved p{
    padding-left:13%;
    padding-right: 13%;
}

.getinvolved .btn{
    margin-left:13%;
}

.footer {
    height: 20vh;
    
} 

.about {
    height: 100vh;
   
} 

.supporters {
   
}

.team {
    height: 100vh;
   
} 

.services{
    height: 100vh;
   
}

.lessons{
    height: 100vh;
   
}

.events{
    height: 100vh;
   

}

.eventPageTitle{
    padding-top: 8%;
    padding-left: 6%
}

.eventCalendar{
    height:70vh;
    width:90%;
    padding-top: 4%;
    padding-left: 9%;
}

.eventPadding{
    padding-bottom: 11%;
}

.eventdeck {
    background-color: aliceblue;
}

.upcomingEvents{
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 1px;
    border-radius: 10px;
    margin-top: 8%;
    margin-right: 9%;
    margin-left: -12%;
}

.upcomingEvents u{
    border-bottom: 4px solid #C1DBFE;
    margin-bottom: 3%;
}

.upcomingEvents h3{
    padding-left:3%;
    padding-right:3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.upcomingCard{
    border-top-style: solid;
    border-top-color: lightgrey;
    border-top-width: 1px;
    /* border-radius: 10px; */
}

.upcomingCard h6{
    color:grey;
}

.upcomingCard h5{
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 0%;
    margin-right: 0%
}

.upcomingCard h7{
    padding-left: 5%;
}

.upcomingCard p{
    padding-left: 10%;
}
.upcomingContainer{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}



#firstUpcoming{
    padding-top: 1%;
}

.contact {
    height: 100vh;
   
}

.butt{
    transition: background-color .15s linear;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-radius: 4px;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
}


@media only screen and (max-width: 992px){
    .upcomingEvents{
        margin-left: 8%;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 1086px){
    .rbc-toolbar button{
        padding: 0.2rem 0.5rem !important; 
    }
}
